<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spotify Extender</title>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
<div id="page-container">
    <header id="navbar">
        <nav class="login-navbar-container container">
            <button type="button" id="navbar-toggle" aria-controls="navbar-menu" aria-label="Toggle menu"
                    aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div id="navbar-menu" aria-labelledby="navbar-toggle">
                <ul class="navbar-links">
                    <li class="navbar-item"><a class="navbar-link" href="/">HOME</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="/about">ABOUT</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="/contact">CONTACT</a></li>
                </ul>
            </div>
            <a href="<%= url %>" class="home-link">
                <div class="navbar-logo"></div>
                LOG-IN
            </a>
        </nav>
    </header>
    <div class="flexible-content">
        <a href="http://ims.ostis.net">
            <img src="https://www.altair.com.ve/altair-alimentos/imagenes/ostis%20und.png">
        </a>
    </div>
</div>
<%- include('footer'); -%>
</body>
</html>